@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
nav {
    background-image: linear-gradient(to right, #000000, #434343);
    color: #fff;
    display: flex-end;
    justify-content: flex-end;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    display: flex-end;
    justify-content: flex-end;
  }
  
  nav li {
    margin-right: 1rem;
    display: flex-end;
    justify-content: flex-end;
  }
  
  nav a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #fff;
  }
  
  nav a:hover {
    background-color: #fff;
  }
  .logo {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }  
  .main{
    display: flex;
    justify-content: flex-start;
    height: 10vh;
  }
  .hero {
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1636690513351-0af1763f6237?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Z2xpdGNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-content {
    text-align: center;
    font-weight: bolder;
    color: rgb(255, 255, 255);
  }
  
  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .hero-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  .features {
    background-color: #f8f8f8;
    padding: 80px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .feature {
    width: 30%;
    text-align: center;
  }
  
  .feature i {
    font-size: 48px;
    color: #e74c3c;
    margin-bottom: 20px;
  }
  
  .feature h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .feature p {
    font-size: 18px;
    line-height: 1.5;
    color: #777;
  }
    